body {
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
			background-color: #454554;
		}

		.topnav {
			overflow: hidden;
			background-color: #333;
			position: relative;
		}

		.topnav #myLinks {
			display: none;
			
		}

		.topnav a {
			color: white;
			padding: 25px 16px;
			text-decoration: none;
			font-size: 18px;
			display: block;
		}

		.topnav a.icon {
			background: black;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 7%;
		}

		.topnav a:hover {
		    background-color: #ddd;
		    color: black;
		}

		.active {
 		    background-color: #4CAF50;
  	        color: white;
		}

		.sticky {
			position: fixed;
			top: 0px;
			width: 100%;
		}
		.sticky + .content {
			padding-top: 10px;
		}

		.main_column {
			width: 85%;
			margin: auto;
			height: 100%;
			margin-top: 2%;
			padding-bottom: 150px;
		}

		.container {
			height: 60px;
			display: flex;
			align-items: center;
			background-color: #333;
			margin-top: 50px;

		}

		.container p {
			margin-left: 20px;
			color: #5DADE2;
			font-size: 28px;
		}

		iframe {
    		min-width: 100%;
  		}


  		.subtitle {
  			background-color: #E1E8EC;
  			width: 100%;
  			text-align: center;
  			font-size: 25px;
  			margin-top: 20px;
  			text-decoration: underline;
  		}

  		.tech_content {
  			background-color: #E1E8EC;
  			text-align: left;
  			padding: 50px;

  		}







